<footer class="footer">
  <div class="footer__content">

  </div>
  <div class="footer__content-bottom">
    <small class="copyright__content">
      &copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url -}}
    </small>
  </div>

</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer"
}
{% endschema %}